# streamlit>=1.28.0
# streamlit-folium>=0.15.0
# folium>=0.14.0
# geopandas>=0.14.0
# pandas>=2.0.0
# shapely>=2.0.0
# SPARQLWrapper>=2.0.0
# rdflib>=6.3.0
# branca>=0.6.0
# certifi>=2023.0.0
streamlit
streamlit-folium
streamlit-searchbox
st-ant-tree
folium>=0.12
geopandas
pandas
shapely
requests
certifi
SPARQLWrapper
rdflib
matplotlib
mapclassify
branca